{% include 'gym/partials/head.html' %}
{% include 'gym/partials/message.html' %}
{% load static %}

<header class="cabeçalho">
    <img src="{% static 'global/img/logoAcad 1.png' %}" alt="">

    <div class="menu link">
        <div>
            <a href="#">Alunos</a>
        </div>
        <div>
            <a href="#">Personais</a>
        </div>
        <div>
            <a href="#">Avaliações</a>
        </div>
        <div>
            <a href="#">Financeiro</a>
        </div>
    </div>
    <div class="logout link">
        <a href="#">logout</a>
    </div>
        
</header>