{% include 'gym/partials/head.html' %}
{% load static%}

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- {% if messages %}
        <ul class="messages">
            <div class="message {{ message.tags }}">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </div>
        </ul>
    {% endif %} -->

<script src="{% static 'global/js/message.js' %}"></script>
</body>
</html>