{% include 'gym/partials/head.html' %}
{% load static%}

<div class="container-login">
    <div class="container-form-cadastro">
        
        <div class="form">
            <div class="logo">
                <img src="{% static 'gym/img/logoAcad 1.png' %}" alt="">
            </div>
            <form class="main-form" action="{% url 'create' %}" metohd="POST">
                {% csrf_token %}
                <div class="form-content form-content-grid">
                    {% for field in form %}
                        <div class="form-grup">
                            <label for=" field.id_for_label">{{ field.label }}</label>
                            {{field}}

                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}

                            {{ fiedl.errors }}
                        </div>

                    {% endfor %} 
                </div>
                <div class="form-content form-content-grid">
                    <div class="form-grup form-button">
                        <button type="submit">cadastra-se</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>

</html>