{% include 'gym/partials/head.html' %}
{% include 'gym/partials/message.html' %}
{% load static%}

{% include 'gym/partials/header_dashboard.html' %}

<head>
    <!-- <script  type="text/javascript">
    function newPopup(){
        varWindow = window.open ('aluno', 'cadastro_aluno')
        }
    </script> -->
</head>
<body class="body">
    <div class="container_dashboard">
        <a href="{% url 'gym:dashboard' %}"><button class="button_voltar"><i class="fa-solid fa-circle-arrow-left icone_voltar"></i></button></a>
        <div class="pesquisa">
            <div class="itens">
                <div class="barra_pesquisa">

                    <form action="" method="get">
                        {% csrf_token %}
                        <input type="text" name="input" class="input">
                        <button type="submit" class="button_pesquisa"><i class="fa-solid fa-magnifying-glass icone_pesquisa "></i></button>
                    </form>
                        <!-- <input type="text" name="input" class="input">
                        <button type="submit" class="button_pesquisa"><i class="fa-solid fa-magnifying-glass icone_pesquisa "></i></button> -->

                </div>
                <button class="button_icone_filter"><i class="fa-sharp fa-solid fa-filter icone_filter"></i></button>
                <a href="{% url 'gym:cadastro_aluno' %}"><button class="button_icone_circle"><i class="fa-solid fa-circle-plus icone_circle_plus"> </i></button></a>
                
            </div>
        </div>

        <div class="listagem">
            <h3>Alunos</h3>
            <ul>
                {% for aluno in alunos %}
                    <li>
                        {% if aluno.Situacao %}
                            <div class="listagem_li_alunos green">

                                <a class="nomes" href="{% url 'gym:exibir_aluno' id=aluno.id %}">{{ aluno.Nome }} {{ aluno.sobrenome }}</a>
                                <form action="{% url 'gym:dashboard_aluno_edit' aluno.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="editar_aluno" value="{{ aluno.id }}"> -->
                                    <button class="button_icone_pen"> <i class="fa-solid fa-pen"></i></button>
                                </form>
                                <form action="{% url 'gym:dashboard_aluno_delete' aluno.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="delete_aluno" value="{{ aluno.id }}"> -->
                                    <button type="submit" class="button_icone_trash"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        {% else %}
                            <div class="listagem_li_alunos red">
                                <a class="nomes" href="{% url 'gym:exibir_aluno' id=aluno.id %}">{{ aluno.Nome }} {{ aluno.sobrenome }}</a>
                                <form action="{% url 'gym:dashboard_aluno_edit' aluno.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="editar_aluno" value="{{ aluno.id }}"> -->
                                    <button class="button_icone_pen"> <i class="fa-solid fa-pen"></i> </button>
                                </form>
                                <form action="{% url 'gym:dashboard_aluno_delete' aluno.id %}" method="post">
                                    {% csrf_token %}
                                    <!-- <input type="hidden" name="delete_aluno" value="{{ aluno.id }}"> -->
                                    <button type="submit" class="button_icone_trash"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        {% endif %}

                    </li>
                    {% empty %}
                        <li>
                            <p>Não tem alunos cadastrados</p>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

{% include 'gym/partials/footer_dashboard.html' %}   