{% include 'gym/partials/head.html' %}
{% include 'gym/partials/header_dashboard.html' %}
{% load static %}


<body class="body">
    <div class="container-card">
        <div class="linha_01">
            <div class="dashboard_aluno card">
                <h2>{{ quantidade_alunos }}</h2>
                <p>Aluno</p>
                <img src="{% static 'global/img/image_aluno.png' %}" alt="">
            </div>
            <div class="dashboard_aniversariantes card">
                <h2>00</h2>
                <p>Aniversariantes</p>
                <img src="{% static 'global/img/image_aniversariantes.png' %}" alt="">
            </div>
            <div class="dashboard_risco card">
                <h2>00</h2>
                <p>Risco</p>
                <img src="{% static 'global/img/image_risco.png' %}" alt="">
            </div>
        </div>
        <div class="linha_02">
            <div class="dashboard_pendentes card ">
                <h2>{{ quantidade_pendente }}</h2>
                <p>Pendentes</p>
                <img src="{% static 'global/img/image_pendente.png' %}" alt="">
            </div>
            <div class="dashboard_avaliacao card ">
                <h2>00</h2>
                <p>Avaliações</p>
                <img src="{% static 'global/img/image_avaliacao.png' %}" alt="">
            </div>
            <div class="dashboard_personal card">
                <h2>00</h2>
                <p>Personais</p>
                <img src="{% static 'global/img/image_personal.png' %}" alt="">
            </div>
        </div>
    </div>
</body>
    
{% include 'gym/partials/footer_dashboard.html' %}      