{% include 'gym/partials/head.html' %}
{% include 'gym/partials/message.html' %}
{% load static%}

<div class="container-aluno">
    <div class="container-form-cadastro form-avaliacao">
        <div class="form">
            <div class="logo">
                <img src="{% static 'global/img/logoAcad 1.png' %}" alt="">
            </div>
                <div class="form-content form-content-grid ">
                    <ul>
                        <li>
                            <h2>Nome: {{ aluno.Nome }} {{ aluno.sobrenome }}</h2>
                            <h2>Email: {{ aluno.E_mail }}</h2>
                            <h2>Data Nascimento: {{ aluno.Data_Nascimento }}</h2>
                            <h2>Data pagamento: {{ aluno.Data_pagamento }}</h2>
                            <h2>Valor pagamento: {{ aluno.Valor_pagamento }}</h2>
                            <h2>Pagamento: {% if aluno.Situacao %} Realizado {% else %} Pendente {% endif %}</h2>
                            <h2>Data inscricao: {{ aluno.Data_inscricao }}</h2>
                            <h2>telefone: {{ aluno.telefone }}</h2>
                        </li>
                    </ul>
                </div>

                <div class="">
                    <div class="form-grup form-button">
                        <a href="{% url 'gym:dashboard_aluno'%}"><button type="button">Voltar</button></a>

                    </div>
                </div>
        </div>
    </div>
<script src="{% static 'global/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'global/js/jquery.mask.min.js' %}"></script>
<script src="{% static 'global/js/mascara.js' %}"></script>
</div>