{% include 'gym/partials/head.html' %}
{% load static%}

{% if form.errors %}
        <div class="form-gruop">
            <div class="message message-error">
                tem error no form;
                {{form.errors}}
            </div>
        </div>
{% endif %}

{% include 'gym/partials/message.html' %}
<div class="container-login">
    <div class="container-form login">
        <div class="form">
            <div class="logo-login">
                <img class='img' src="{% static 'gym/img/logoAcad 1.png' %}" alt="">
            </div>
        </div>

        <form class="main-form-login" action="{% url 'gym:senha_create' uid64=uid %}" method="POST">

            {% csrf_token %}
            <div class="form-content content-login form-content-grid">
                {% for field in form %}
                    <div class="form-grup">
                        <label for=" field.id_for_label">{{ field.label }}</label>
                        {{field}}

                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                        
                        {% comment %} {% if form.errors %}
                            <div class="form-error">
                                {{form.errors}}
                            </div>
                        {% endif %} {% endcomment %}
                        
                        
                    </div>

                {% endfor %} 
            </div>
            

            <div class="">
                <div class="form-grup form-button button-login">


                    <button type="submit">Confirmar</button>

                </div>
            </div>
            
        </form>
        
    </div>
</div>


</html>




