* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', serif ;
    
}

.container-login{
    background-color: #AEC7FF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-form{
    background-color: #DEDEDE;
    width: 22rem;
    height: 30rem;
    border-radius: 9px;
    box-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);

}
.container-form-cadastro{
    background-color: #DEDEDE;
    width: 54rem;
    height: 35rem;
    border-radius: 9px;
    box-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 10rem;
    height: 10rem;
}
.logo-login{
    display: flex;
    justify-content: center;
}
.img{
    
    width: 10rem;
    height: 10rem;
     
}
.form{
     margin: 0 auto; 
} 


.form-content{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    max-width: 64rem;
    margin-bottom: .5rem;
    margin-left: 4rem;
    
   
}
.form-content label{
    display: block;
    font-size: 1.1rem;
}
.form-content .help-text{
    display: block;
    margin-top: .5rem;
}
.form-content input{
    width: 20rem;
    height: 1rem;
    padding: 1.2rem;
    border-radius: .7rem;
    border: 1px solid #1e1e1e;
}
.form-content input:focus, 
.form-content input:hover{
    border: 1px solid #AEC7FF;
}




.form-button{
    display: flex;
    justify-content: center;
}
.form-button button{
    font-size: 1.1rem;
    border: none;
    background-color: #1583c1;
    color: #e2e0e0;
    width: 12rem;
    height: 2rem;
    border-radius: .7rem;
    transition: all 300ms ease-in-out;
}


.form-button button:hover{
    filter: drop-shadow(13px 4px 6px rgba(0, 0, 0, 0.25));
}
.form-content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: .5rem;
}

.message {
    position: absolute;
    left: 70rem;
    margin-top: 1rem;
    width: 11rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #1e1e1e;
    background: #DEDEDE;
    color: #1e1e1e;
    text-align: center;
    font:1.4rem
}
.message ul{
    list-style-type: none;
}
.message-error{
    border: 1px solid #E37777;
    background: #E37777;
    color: #FFFF;
}
.message-success{
    border: 1px solid #80E377;
    background: #80E377;
    color: #FFFF;
}

.content-login{
    position: relative;
    left: -3rem;
    margin-bottom: 5rem;


}


.home-page {
    /* background-image: url("/static/gym/img/image01.avif");
    background-size: cover;
    background-position: top center; */
    background: #202A31; 
}

.cabeçalho {
    height: 4rem;
    background: #29363F;
    display: flex;

    align-items: center;

}

.cabeçalho img {
    width: 5rem;
    height: 5rem;
}

#nicho-gym {
    margin: auto 0;
}

#nicho-gym a {
    color: #CAE1FF;
    text-decoration: none;
    font-family: sans-serif;
}



#home-login button{

    margin: auto 0;
    margin-left: 57rem;
    width: 5rem;
    height: 2.2rem;
    border: solid;
    border-color: #4682B4;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFF;
    background: #29363F;
    border-radius: 6px;
}

#home-login button:hover{   
    background-color: #00BFFF;
}

#home-cadastro button{

    margin: auto 0;
    margin-left: 1rem;
    width: 7rem;
    height: 2.2rem;
    background-color: #4682B4;
    border-color: #4682B4;

    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFF;
    cursor: pointer;
    border-radius: 6px;

}

#home-cadastro button:hover{   
    background-color: #00BFFF;
}

.home-corpo h2{
    font-size: 50px;
    color: #FFFF;
    text-align: center;
    margin-top: 50px;
}

.home-corpo p {
    font-size: 20px;
    color: #FFFF;
    text-align: center;
    margin-top: 20px;
}

#image02 img {
    display: block;
    width: 600px;
    height: 450px;
    margin: 50px auto;
}

.container-home-body {
    display: flex;
    align-items: center;
}

.home-corpo h3{
    color: #FFFF;
}

.h3_left {
    font-size: 30px;
    text-align: left;
    width: 20rem;
    margin: 50px 0 0 10rem;
}

#image03 img {
    width: 600px;
    height: 450px;
    margin: 50px 0 0 10rem;
}

#image04 img {
    width: 600px;
    height: 450px;
    margin: 50px 0 0 6rem;
}

.h3_right {
    font-size: 30px;
    text-align: left;
    width: 20rem;
    margin: 50px 0 0 10rem;
}

#image05 img {
    width: 600px;
    height: 450px;
    margin: 50px 0 0 10rem;
    margin-bottom: 8rem;
}

footer {
    margin-top: 2rem;
    height: 8rem;
    background: #29363F;
}

.container-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.container-footer p {
    color: #FFFF;
    margin-left: 10px;
    margin-bottom: 10px;
}

.fa-github {
    color: #FFFF;
    font-size: 30px;
    margin-top: 10px;

}

.fa-github:hover {
    color: #1583c1;
}


.fa-phone {
    color: #FFFF;
    font-size: 30px;
    margin-top: 10px;
}
.fa-envelope {
    color: #FFFF;
    font-size: 30px;
    margin-top: 10px;
}

#footer-link-github {
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFF;
    margin-left: 2rem;
    margin-top: 2rem;
}

.footer-container-github i, p{
    margin-top: 1rem;
}
.links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #FFFF;
}

.link {
    display: flex;
    justify-content: center;
    color: #FFFF;
}

.link a {
    text-decoration: none;
    color: #FFFF;
}

.link a:hover,
.button_logout:hover {
    color: #1583c1;
}

.container-aluno{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.menu {
    gap: 1rem;
}

.logout {
    margin-left: 55rem;
}

/* .dashboard_body {
    width: 100%;
    height: 100%;
    background-image: url("static/gym/img/image09.jpg");
} */

body {
    background-image: url("/static/gym/img/image09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-card {
    width: 100%;
    height: 27rem;
}

.linha_01, .linha_02{
    display: flex;
    height: 50%;
    /* background-color: #FFFF; */
}

.card {
    display: flex;
    background-color: red;
    margin-right: 2rem;
    width: 20rem;
    height: 10rem;
    margin: 0 auto;
    margin-top: 1.7rem;
    align-items: center;
    border-radius: 2rem;
}

.card img {
    width: 7rem;
    height: 7rem;
    position: relative;
    margin-left: 3.5rem;
}

.dashboard_aniversariantes img {
    position: relative;
    margin-left: 1rem;
}

.dashboard_aluno img, .dashboard_risco img {
    position: relative;
    margin-left: 6rem;
}

.card h2 {
    margin-bottom: 3rem;
    margin-left: 2rem;
    font-size: 4rem;
}

.card p {
    position: relative;
    margin-top: 2rem;
    margin-left: -5rem;
    font-size: 1.5rem;
}

.dashboard_aluno p, .dashboard_risco p{
    position: relative;
    margin-left: -4.2rem;
}

.dashboard_aluno{
    background-color: #60AB5A;
}

.dashboard_aniversariantes{
    background-color: #A94C79;
}

.dashboard_risco{
    background-color: #648AB7;
}

.dashboard_pendentes{
    background-color: #B96262;
}

.dashboard_avaliacao{
    background-color: #AA4AAC;
}

.dashboard_personal{
    background-color: #7062C1;
}

/* logout */
.button_logout{
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: #ffff;
}